table {
    th {
        &:nth-child(3n) {
            text-align: right;
        }
    }
    td {
        &:nth-child(3n) {
            text-align: right;
        }
    }
}

div {
    #consigne {
        border: 2px solid #f1f1f1;
    }
}
