<div class="container-fluid" id="dashboard-wrapper">
  <div class="row justify-content-center  mb-3 ">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 m-xl-auto mr-1 ml-1 mt-3pr-0 pl-4 pr-0 pt-4 pb-4" id="container-stepper">
      <svg id="svg">
        <g>
          <line x1="3%" y1="50%" x2="20%" y2="50%" class="line activated" id="step-1-2-line" />
          <line x1="20%" y1="50%" x2="37%" y2="50%" class="line" id="step-2-3-line" />
          <line x1="37%" y1="50%" x2="54%" y2="50%" class="line" id="step-3-4-line" />
          <line x1="54%" y1="50%" x2="71%" y2="50%" class="line" id="step-4-5-line" />
          <line x1="71%" y1="50%" x2="88%" y2="50%" class="line" id="step-5-6-line" />

          <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="3%">
          </circle>

          <text class="step-text" text-anchor="middle" x="3%">1</text>


          <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="20%">
          </circle>

          <text class="step-text" text-anchor="middle" x="20%">2</text>

          <circle class="step-circle inactiv" id="step-2-circle" r="16px" cy="19px" cx="37%"></circle>

          <text class="step-text inactiv" text-anchor="middle" x="37%">3</text>

          <circle class="step-circle inactiv" id="step-3-circle" r="16px" cy="19px" cx="54%"></circle>

          <text class="step-text inactiv" text-anchor="middle" x="54%">4</text>

          <circle class="step-circle inactiv" id="step-4-circle" r="16px" cy="19px" cx="71%"></circle>

          <text class="step-text inactiv" text-anchor="middle" x="71%">5</text>

          <circle class="step-circle inactiv" id="step-4-circle" r="16px" cy="19px" cx="88%"></circle>

          <text class="step-text inactiv" text-anchor="middle" x="88%">6</text>
        </g>
      </svg>
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 m-xl-auto mr-1 ml-1 mt-1 mb-3 pl-4 pr-0 pt-4 pb-4" id="container-consigne">
      <h4>2. Définition de vos points GPS</h4>
      <p>Definissez ici les <strong>points GPS</strong> qui composeront votre <strong>circuit</strong>.</p>
      <p>Cliquez sur la carte pour ajouter un point GPS.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="map-wrapper" class="p-3 mb-3 mt-3 col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 m-xl-auto mr-1 ml-1">
      <agm-map (zoomChange)="test($event);" [(zoom)]="rally.zoom" [latitude]="rally.viewport.lat" [longitude]="rally.viewport.lng"
        (centerChange)="onCenterChange($event)" (mapClick)="WayPointAddor($event)">
        <agm-marker *ngFor="let WayPoint of allGpsPoints" (markerClick)="focuser(WayPoint)" [latitude]="WayPoint.coords.lat"
          [longitude]="WayPoint.coords.lng" [markerDraggable]="true" (drag)="getDraggingPosition($event, WayPoint)">
          <agm-info-window [isOpen]="reverseOpenInfoWindow(WayPoint)">Aller a l'étape 3 pour mettre en place le Quizz...</agm-info-window>
        </agm-marker>
      </agm-map>
      <form id="wpts" class="justify-content-center">
        <table id="table-wpts" class="table table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
              <th *ngIf="fullRally !== undefined && (fullRally.playable === undefined || fullRally.playable === null)"
                scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'selected': selectedWayPoint === allGpsPoints.indexOf(WayPoint)}" *ngFor="let WayPoint of allGpsPoints" (click)="focuser(WayPoint)" style="cursor: pointer;">
              <td><input type="number" name="lat-{{allGpsPoints.indexOf(WayPoint)}}" min="x" max="x"
                  [(ngModel)]="WayPoint.coords.lat" step="000.0001"></td>
              <td><input type="number" name="long-{{allGpsPoints.indexOf(WayPoint)}}" min="x" max="x"
                  [(ngModel)]="WayPoint.coords.lng" step="000.0001"></td>
              <td>
                <button (click)="removeWayPoint(WayPoint)" type="button" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <!--<div class="WayPoint" *ngFor="let WayPoint of allGpsPoints">
          <label style="display: inline-block;">WayPoint {{allGpsPoints.indexOf(WayPoint)}}</label>
          <input type="number" name="lat-{{allGpsPoints.indexOf(WayPoint)}}" min="x" max="x" [(ngModel)]="WayPoint.coords.lat" step="000.0001">
    
          <input type="number" name="long-{{allGpsPoints.indexOf(WayPoint)}}" min="x" max="x" [(ngModel)]="WayPoint.coords.lng" step="000.0001">
          <button *ngIf="fullRally && fullRally['playable'] === null || fullRally === undefined" (click)="removeWayPoint(WayPoint)" type="button" class="btn btn-secondary">Delete</button>
        </div>
      </form>-->
      <div class="d-flex justify-content-end">
        <button id="previous" type="submit" routerLink="../1" class="btn btn-primary btn-sm">Précédent</button>
        <button *ngIf="guardError.value === false" type="submit" class="btn btn-secondary btn-sm" disabled>
          Suivant</button>
        <button *ngIf="guardError.value === true" type="submit" routerLink="../3"
          class="btn btn-primary btn-sm">Suivant</button>
      </div>
    </div>
  </div>
</div>