
.hidden {
    display: none;
}

.selected{
    background-color: #4397c39e;
}
.active {
    display: block;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}

label {
    display: block;
}
table {
    th {
        text-align: left;
    }
    td {
        .uploader {
            display: inline-block;
            width: auto;
            border: 1px solid #34bc9b;
            background: #34bc9b;
            padding: 0.5rem;
            border-radius: 3px;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 4px;
            cursor: pointer;

            &:hover {
                background: #ffffff;
                color: #34bc9b;
            }

            i {
                margin-left: 4px;
            }
        }
        img {
            width: 70px;
            height: 60px;
            border-radius: 3px;
        }
    }
}

.label-quizz {
    display: block;
    width: 100%;
    border: none; 
    font-weight: bold;
}
.input-reponses {
    display: inline-block;
    border: none; 
    //padding: 1px;
}
