<div class="container-fluid" id="dashboard-wrapper">
    <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
        <div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>
    </div>
</div>