$blue-hm: #0067A6; 		// Blue Home Made
$white-hm: #ffffff; //white

//Cross to close slide menu
h3 { 
    i{
        position: absolute;
        top: -6px;
        right: 4px;
        cursor: pointer;
        color: white;
        font-size: 40px;
    }
}


div {

    ul {
        padding: 0;
        list-style: none;
        background-color: $blue-hm;
        margin-bottom: 0;

        li {
            padding: 0.5rem;

            a {
                cursor: pointer;

                &:nth-child(1){
                    color: $white-hm;
                    text-decoration: none;
                }
            }
            #dropdown-menu{
                
            }
        }

    }

}