<div class="container-fluid">
  <div class="row">
    <div id="container-nav_bar"class="col-sm-12 col-md-12 mb-lg-3 mb-xl-3">
        <ul id="nav_bar" class="d-flex justify-content-between justify-content-lg-end">
          <li id="burger" class="d-lg-none">
              <a (click)="activate()"><svg-icon src="assets/icones/burger.svg" [svgStyle]="{ 'width.px':30, 'height.px':30}"></svg-icon></a>
          </li>
        <li class="d-lg-none"><a routerLink="/dashboard" id="name-user">{{name | titlecase}} <i class="fa fa-user-circle-o" style="font-size:24px; color: #ffffff"></i></a></li>
        <li class="d-none d-lg-block d-xl-block">
            <div id="dropdown-menu" ngbDropdown>
              <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{name | titlecase}} <i class="fa fa-user-circle-o" style="font-size:24px; color: #ffffff"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem routerLink="/dashboard">Mes rallys</button>
                  <button ngbDropdownItem>Mon compte</button>
                  <button ngbDropdownItem>Mes credits</button>
                  <button ngbDropdownItem (click)="logout()">Déconnexion</button>
                </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" [class.cbp-spmenu-open]="this.activ === true">
    <div class="">
        <h3>Menu<i (click)="activate()" class="fa fa-close"></i></h3>
        <a class="nav-item nav-link" (click)="activate()" routerLink="/dashboard">Mes Rallys </a>
        <a class="nav-item nav-link" (click)="activate()" routerLink="/dashboard">Mon compte</a>
        <a class="nav-item nav-link" (click)="activate()" routerLink="/dashboard">Mes crédits</a>
        <a class="nav-item nav-link" (click)="logout()" (click)="activate()" >Déconnexion</a>
    </div>
</nav>
    