<div class="container-fluid" id="dashboard-wrapper">
    <div class="row justify-content-center">
        <div class=" pt-3 pb-1 pb-3 mb-3 mt-3 mr-1 ml-1 col-xs-11 col-sm-11 col-md-6 col-lg-4 col-xl-4 m-xl-auto">
            <div class="pt-4 col-sm-12 m-xl-auto d-flex justify-content-center">
                <h2 class="d-inline">Bienvenue sur Rally-connecté !</h2>
            </div>
            <div class="mt-3 col-sm-12 m-xl-auto d-flex justify-content-center">
                <img class="d-inline" width="125" height="125" src="assets/icones/compass.png" />
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container-fluid" id="dashboard-wrapper">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div id="reset-wrapper" class="pt-3 pb-1 pb-0 mb-0 mt-3 col-sm-12 col-md-8 col-lg-6 col-xl-4 m-xl-auto">
                <h2 class="pb-3">Changement de votre mot de passe.</h2>
                <p class="font-weight-bold">Lorsque vous aurez validé votre nouveau votre mot de passe, ce dernier sera alors réinitialisé!</p>
                <form autocomplete="off">                
                    <!-- TITLE PREPA MODE (CHANGEING ACCEPTED) -->
                    <div class="mb-3 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div>
                            <label>Saisissez votre nouveau mot de passe</label>
                            <input type="password" class="form-control" name="pass1" id="newpass" (keyup)="verifyPass()" (change)="verifyPass()" [(ngModel)]="password" required>
                            <div class="live-check-form">
                            <p [ngClass]="{
                            'text-error':passwordLength.value === false,
                            'text-ok':passwordLength.value === true,
                            'text-udf':passwordLength.value === undefined
                            }">8 charactères minmum</p>
                            </div>
                            <label>Retapez votre nouveau mot de passe</label>
                            <input type="password" class="form-control" name="pass2" id="passecu" (keyup)="verifyRepass()" (change)="verifyRepass()" [(ngModel)]="passwordsafety" required>
                            <div class="live-check-form">
                            <p [ngClass]="{
                            'text-error':repassword.value === false,
                            'text-ok':repassword.value === true,
                            'text-udf':repassword.value === undefined
                            }">les mots de passes doivent etre identique</p>
                            </div>
                            <div class="form-group" style="text-align: center">
                                <!-- <button type="button" (click)="updatePass(passwordsafety)" class="btn btn-success mt-4 justify-content-center col-sm-10 col-xs-11 col-md-6">Envoyer</button> -->
                                <button *ngIf="guardError.value === false" type="button" class="btn btn-success mt-4 justify-content-center col-sm-10 col-xs-11 col-md-6" disabled>Envoyer</button>
                                <button *ngIf="guardError.value === true" type="button" (click)="updatePass()" class="btn btn-success mt-4 justify-content-center col-sm-10 col-xs-11 col-md-6">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
