<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="pt-4 col-sm-12 m-xl-auto d-flex justify-content-center">
            <h2 class="d-inline">Bienvenue sur Rally-connecté !</h2>
        </div>
        <div class="mt-3 col-sm-12 m-xl-auto d-flex justify-content-center">
            <img class="d-inline" width="125" height="125" src="assets/icones/compass.png"/>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron pb-2 mt-2">
    <div class="container-fluid" id="dashboard-wrapper">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div id="login-wrapper"
                class="pt-3 pb-1 pb-3 mb-3 mt-3 col-sm-12 col-md-8 col-lg-6 col-xl-4 m-xl-auto">
                <h2 class="pb-3">Connexion</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="mail">Adresse e-mail :</label>
                        <input type="text" formControlName="mail" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button [disabled]="loading" class="btn btn-primary" style="width: 100%;">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Se connecter
                        </button>
                        <a style="display: block;" routerLink="/reset_pwd" class="btn btn-link">Mot de passe
                            oublié</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron pt-1 mt-1">
    <div class="container-fluid" id="dashboard-wrapper">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="pt-3 pb-1 pb-3 mb-3 mt-3 col-sm-12 col-md-8 col-lg-6 col-xl-4 m-xl-auto">
                <p>Pas encore inscrit ? <a routerLink="/register">Rejoignez nous!</a></p>
            </div>
        </div>
    </div>
</div>