.hidden {
    display: none;
}

.active {
    display: block;
}
input {outline:0;}
input:focus {outline:none!important;}

label {
    display: block;
}

.label-quizz {
    width: 100%;
    border: none; 
    font-weight: bold;

}
.label-ask {
    font-weight: bold;
}
.input-ask {
    border: 1px solid #d0c6c6;
}
.reponses-span {
    display: block;
    font-weight: bold;
}
.input-response {
    display: inline-block;
    border: 1px solid #d0c6c6;
    font-weight: bold;
    //border: none; 
    //padding: 1px;
}

.text-udf{
    color: #666 ;
    font-size: 12px;
    font-weight: 700;
}