<div class="container-fluid" id="dashboard-wrapper">

    <div class="row justify-content-center mb-3">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-8 col-xl-6 m-xl-auto mr-1 mt-3 pl-4 pr-0 pt-4 pb-4" id="container-stepper">
            <svg id="svg">
                <g>
                    <line x1="3%" y1="50%" x2="20%" y2="50%" class="line activated" id="step-1-2-line" />
                    <line x1="20%" y1="50%" x2="37%" y2="50%" class="line activated" id="step-2-3-line" />
                    <line x1="37%" y1="50%" x2="54%" y2="50%" class="line activated" id="step-3-4-line" />
                    <line x1="54%" y1="50%" x2="71%" y2="50%" class="line activated" id="step-4-5-line" />
                    <line x1="71%" y1="50%" x2="88%" y2="50%" class="line activated" id="step-5-6-line" />

                    <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="3%">
                    </circle>

                    <text class="step-text" text-anchor="middle" x="3%">1</text>


                    <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="20%">
                    </circle>

                    <text class="step-text" text-anchor="middle" x="20%">2</text>

                    <circle class="step-circle" id="step-2-circle" r="16px" cy="19px" cx="37%"></circle>

                    <text class="step-text" text-anchor="middle" x="37%">3</text>

                    <circle class="step-circle" id="step-3-circle" r="16px" cy="19px" cx="54%"></circle>

                    <text class="step-text" text-anchor="middle" x="54%">4</text>

                    <circle class="step-circle" id="step-4-circle" r="16px" cy="19px" cx="71%"></circle>

                    <text class="step-text" text-anchor="middle" x="71%">5</text>

                    <circle class="step-circle" id="step-4-circle" r="16px" cy="19px" cx="88%"></circle>

                    <text class="step-text" text-anchor="middle" x="88%">6</text>
                </g>
            </svg>
        </div>
        <div class="d-md-block d-lg-block d-xl-block col-12">
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-8 col-xl-6 m-xl-auto mr-1 pl-4 pr-0 pt-4 pb-4" id="container-consigne">
            <h4>6. Chefs d'équipes</h4>
            <p>Definissez ici les nom, les couleurs et les chefs de vos <strong>équipes.</strong></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id="map-wrapper"
            class="p-3 mb-3 mt-3 col-xs-11 col-sm-11 col-md-11 col-lg-8 col-xl-6 m-xl-auto mr-1 ml-1">
            <div class="input-group mb-3 col-sm-10 col-md-6 col-lg-6 col-xl-8">
                <label class="col-12 pl-0">Nom de l'équipe</label>
                <input type="text" class="form-control" style="max-width: 100%;" (keyup)="verifyCharsOnPress()"
                    (keyup)="verifyTeamName(tempValue)" (keyup)="unlocker()" [(ngModel)]="tempValue" required
                    minlength="4" placeholder="Entrez le nom de la team" aria-label="nameTeam" #name="ngModel"
                    aria-describedby="basic-addon2" #name="ngModel">
                <div class="col-12">
                    <p [ngClass]="{
                    'text-error':nameError.value === false,
                    'text-ok':nameError.value === true,
                    'text-udf':nameError.value === undefined
                }">
                        Le nom d'équipe doit contenir 4 caractères minimum.
                    </p>
                    <p [ngClass]="{
                    'text-error':SpeCharError.value === false || keyPressCharError.value === false ,
                    'text-ok':SpeCharError.value === true || keyPressCharError.value === true,
                    'text-udf':SpeCharError.value === undefined || keyPressCharError.value === undefined
                }">
                        Le nom de l'équipe ne peut contenir de caractères spéciaux tel que '_/@?-^'
                    </p>
                </div>
            </div>
            <div class="input-group mb-3 col-sm-10 col-md-6 col-lg-6 col-xl-8">
                <label class="col-12 pl-0">Mail du chef d'équipe</label>
                <input type="text" class="form-control" (keyup)="verifyTeamMail(tempMail)" (keyup)="unlocker()"
                    [(ngModel)]="tempMail" placeholder="Mail du chef d'équipe" aria-label="nameTeam"
                    aria-describedby="basic-addon2">
                <div class="col-12">
                    <p [ngClass]="{
                'text-error':mailError.value === false,
                'text-ok':mailError.value === true,
                'text-udf':mailError.value === undefined
                }">
                        Carctéristiques complètes adresse e-mail.
                    </p>
                </div>
            </div>
            <div class="input-group mb-1 ml-3">
                <div class="input-group-prepend">
                    <label id="select-color">Couleur</label>
                </div>
                <form>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#D52936" checked />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #D52936">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#5DD529" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #5DD529">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#29D0D5" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #29D0D5">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#5329D5" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #5329D5">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#04010E" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #04010E">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#DFDF09" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #DFDF09">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#9B9B92" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #9B9B92">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#E45BE2" />
                    <div
                        style="display: inline-block; margin-right: 10px; width: 20px; height: 20px; background-color: #E45BE2">
                    </div>
                    <input type="radio" (change)="colorAddor($event)" name="name" value="#A88169" />
                    <div style="display: inline-block; width: 20px; height: 20px; background-color: #A88169"></div>

                </form>
                <div class="input-group-append col-12 pl-0">
                    <button *ngIf="!guardError.value" style="border-radius: 5px" class="btn btn-outline-secondary"
                        id="validator" type="button" disabled>Ajouter</button>
                    <button *ngIf="guardError.value" style="border-radius: 5px" class="btn btn-outline-secondary"
                        id="validator" (click)="teamAddor(tempValue, tempColor, tempMail)"
                        type="button">Ajouter</button>
                </div>
                <div class="col-12 pl-0 mt-2 pl-3">
                    <p class="mb-0" [ngClass]="{
                'text-error':colorError.value === false,
                'text-ok':colorError.value === true,
                'text-udf':colorError.value === undefined
                }"> Selection d'une une couleur
                    </p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5 mb-5">
                <div id="end-line" class="col-10">
                </div>
            </div>
            <form>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th style="text-align: left;" scope="col">Nom de l'équpe</th>
                            <th style="text-align: left;" scope="col">Mail chef d'équipe</th>
                            <th style="text-align: left;" scope="col">Couleur de l'équipe</th>
                            <th style="text-align: left;" scope="col" style="text-align: right; padding-right: 50px;">
                                Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="rally.teams != null">
                        <tr *ngFor="let team of rally.teams">
                            <td><input name="team-name-{{ this.rally.teams.indexOf(team) }}" type="text"
                                    style="border: none; border: 0px;" [(ngModel)]="team.name"></td>
                            <td><input name="team-mail-{{ this.rally.teams.indexOf(team) }}" type="text"
                                    style="border: none; border: 0px;" [(ngModel)]="team.mail"></td>
                            <td>
                                <div [style.backgroundColor]="team.color"
                                    style="border-radius: 100%; width: 40px; height: 40px;"></div>
                            </td>
                            <td style="text-align: right;">
                                <div style="text-align: right;">
                                    <button type="button" (click)="remove(team)"
                                        class="btn btn-danger">Supprimer</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button id="previous" type="submit" routerLink="../5" class="btn btn-primary btn-sm">Precedent</button>
                    <button *ngIf="rally.teams && rally.teams.length >= 1" id="next" type="submit" (click)="onSubmit()"
                        class="btn btn-primary btn-sm">Terminer</button>
                    <button *ngIf="rally.teams && rally.teams.length === 0" id="next" type="submit"
                        class="btn btn-primary btn-sm" disabled>Terminer</button>
                </div>
            </form>

        </div>
    </div>
</div>