
.text-error{
    color: #e74c3c ;
    font-size: 12px;
    font-weight: 700;
}
.text-ok{
    color: #28a745 ;
    font-size: 12px;
    font-weight: 700;
}
.text-udf{
    color: #666 ;
    font-size: 12px;
    font-weight: 700;
}

.color {
    border-radius: 50%;
}
#select-color {
    font-size: 1.5rem;
}

form {
    padding: 0.5rem;
}
.input-group {
    label {
        font-weight: 500;
    }
}
