
.info-window-image {
    max-width: 250px;
    max-height: 200px;
    padding: 1rem;
    border-radius: 3px;
}
label {
    display: block;
}
table {
    th {
        text-align: left;
    }
    td {
        div {

            img {
                width: 70px;
                height: 60px;
            }
        }
    }
}

.label-quizz {
    display: block;
    width: 100%;
    border: none; 
    font-weight: bold;
}
.input-reponses {
    display: inline-block;
    border: none; 
    //padding: 1px;
}

img {
    border-radius: 3px;
}


