<div class="container-fluid" id="dashboard-wrapper">

  <div class="row justify-content-center mb-3">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 m-xl-auto mr-1 ml-1 mt-3 pl-4 pr-0 pt-4 pb-4" id="container-stepper">
      <svg id="svg">
        <g>
          <line x1="3%" y1="50%" x2="20%" y2="50%" class="line activated" id="step-1-2-line" />
          <line x1="20%" y1="50%" x2="37%" y2="50%" class="line activated" id="step-2-3-line" />
          <line x1="37%" y1="50%" x2="54%" y2="50%" class="line activated" id="step-3-4-line" />
          <line x1="54%" y1="50%" x2="71%" y2="50%" class="line activated" id="step-4-5-line" />
          <line x1="71%" y1="50%" x2="88%" y2="50%" class="line" id="step-5-6-line" />

          <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="3%">
          </circle>

          <text class="step-text" text-anchor="middle" x="3%">1</text>


          <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="20%">
          </circle>

          <text class="step-text" text-anchor="middle" x="20%">2</text>

          <circle class="step-circle" id="step-2-circle" r="16px" cy="19px" cx="37%"></circle>

          <text class="step-text" text-anchor="middle" x="37%">3</text>

          <circle class="step-circle" id="step-3-circle" r="16px" cy="19px" cx="54%"></circle>

          <text class="step-text" text-anchor="middle" x="54%">4</text>

          <circle class="step-circle" id="step-4-circle" r="16px" cy="19px" cx="71%"></circle>

          <text class="step-text" text-anchor="middle" x="71%">5</text>

          <circle class="step-circle inactiv" id="step-4-circle" r="16px" cy="19px" cx="88%"></circle>

          <text class="step-text inactiv" text-anchor="middle" x="88%">6</text>
        </g>
      </svg>
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 m-xl-auto mr-1 ml-1 pl-4 pr-0 pt-4 pb-4" id="container-consigne">
      <h4>5. Vue d'ensemble</h4>
      <p>Voici un récapitulatif de votre <strong>circuit</strong>.</p>
      <p>N'hesitez pas a revenir sur les étapes précédentes pour effectuer des <strong>modifications.</strong></p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="map-wrapper" class="p-3 mb-3 mt-3 col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 m-xl-auto mr-1 ml-1">
      <agm-map [(zoom)]="rally.zoom" [latitude]="rally.viewport.lat" [longitude]="rally.viewport.lng" (centerChange)="onCenterChange($event)">
        <agm-marker *ngFor="let WayPoint of allGpsPoints" [latitude]="WayPoint.coords.lat"
          [longitude]="WayPoint.coords.lng" (markerClick)="clickedMarker(infoWindow)" (markerClick)="focuser(WayPoint)"
          [iconUrl]='{"url": setIconeSvgVsPng(WayPoint) === true ? getIconeUrl(WayPoint.iconeSvg.url) : setIconeSvgVsPng(WayPoint) === false ? getIconeUrl(WayPoint.iconePng.url): null,"scaledSize": {"height": 50, "width": 50} }'>
          <agm-info-window [isOpen]="reverseOpenInfoWindow(WayPoint)" #infoWindow>
            <label>Question de cet emplacement: </label>
            <input class="label-quizz" type="text" name="ask-{{allGpsPoints.indexOf(WayPoint)}}"
              [ngModel]="WayPoint.quizz.ask" disabled>
            <img class="info-window-image" *ngIf="WayPoint.image != undefined && WayPoint.image.url != null"
              [src]="getImageUrl(WayPoint.image.url)">
            <div>
              <label>Les réponses et la bonne réponse:</label>
              <input *ngIf="WayPoint.quizz.answer1.value === true;" type="radio" value="false" checked disabled>
              <input *ngIf="!WayPoint.quizz.answer1.value === true;" type="radio" value="false" disabled> <input
                class="input-reponses mt-1 mb-1" [ngModel]="WayPoint.quizz.answer1.answerBody"
                name="answer1-{{allGpsPoints.indexOf(WayPoint)}}" type="text" disabled /><br>

              <input *ngIf="WayPoint.quizz.answer2.value === true;" type="radio" value="false" checked disabled>
              <input *ngIf="!WayPoint.quizz.answer2.value === true;" type="radio" value="false" disabled><input
                class="input-reponses mt-1 mb-1" [ngModel]="WayPoint.quizz.answer2.answerBody"
                name="answer2-{{allGpsPoints.indexOf(WayPoint)}}" type="text" disabled /><br>

              <input *ngIf="WayPoint.quizz.answer3.value === true;" type="radio" value="false" checked disabled>
              <input *ngIf="!WayPoint.quizz.answer3.value === true;" type="radio" value="false" disabled> <input
                class="input-reponses mt-1 mb-1" [ngModel]="WayPoint.quizz.answer3.answerBody"
                name="answer3-{{allGpsPoints.indexOf(WayPoint)}}" type="text" disabled /><br>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <div>
        <form>
          <table class="table table-responsive-sm table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Quizz</th>
                <th scope="col">Icone</th>
                <th scope="col">Image</th>

              </tr>
            </thead>
            <tbody>
              <tr [ngClass]="{'selected': selectedWayPoint === allGpsPoints.indexOf(WayPoint)}"
                *ngFor="let WayPoint of allGpsPoints" id="allGpsPoints.indexOf(WayPoint)" (click)="focuser(WayPoint)" style="cursor: pointer;">
                <td>{{ WayPoint.coords.lat }}</td>
                <td>{{ WayPoint.coords.lng }}</td>
                <td>{{ WayPoint.quizz.ask || 'Waiting for quizz'}}</td>
                <td>
                  <img *ngIf="WayPoint.iconePng.url !== null"
                    [src]="getIconeUrl(WayPoint.iconePng.url)">
                  <!--<svg-icon *ngIf="WayPoint.iconeSvg != undefined" [src]="WayPoint.iconeSvg.url" [svgStyle]="{ 'width.px':70, 'height.px':70}"></svg-icon>-->
                  <svg-icon *ngIf="WayPoint.iconeSvg.url !== null"
                    [src]="getIconeUrl(WayPoint.iconeSvg.url)"
                    [svgStyle]="{ 'width.px':70, 'height.px':70}"></svg-icon>
                </td>
                <td>
                  <div *ngIf="WayPoint.image.url !== null">
                    <img [src]="getImageUrl(WayPoint.image.url)">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <button id="previous" type="submit" routerLink="../4" class="btn btn-primary btn-sm">Précédent</button>
            <button id="next" type="submit" routerLink="../6" class="btn btn-primary btn-sm">Suivant</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>