<div class="container-fluid" id="dashboard-wrapper">
    <div class="row justify-content-center">
        <div class=" pt-3 pb-1 pb-3 mb-3 mt-3 mr-1 ml-1 col-xs-11 col-sm-11 col-md-6 col-lg-4 col-xl-4 m-xl-auto">
            <div class="pt-4 col-sm-12 m-xl-auto d-flex justify-content-center">
                <h2 class="d-inline">Bienvenue sur Rally-connecté !</h2>
            </div>
            <div class="mt-3 col-sm-12 m-xl-auto d-flex justify-content-center">
                <img class="d-inline" width="125" height="125" src="assets/icones/compass.png" />
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container-fluid" id="dashboard-wrapper">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div id="reset-wrapper" class="pt-3 pb-1 pb-0 mb-0 mt-3 col-sm-12 col-md-8 col-lg-6 col-xl-4 m-xl-auto">
                <h2 class="pb-3">Modifier votre mot de passe.</h2>
                <p class="font-weight-bold">Un e-mail de confirmation vous sera envoyé, vous pourrez alors réinitialiser votre mot de passe!</p>
                <form autocomplete="off">                
                    <!-- TITLE PREPA MODE (CHANGEING ACCEPTED) -->
                    <div class="mb-3 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div>
                            <label>Saisissez votre adresse e-mail</label>
                            <input type="email" class="form-control" name="userMail" id="rally-name" placeholder="example@email.fr" [(ngModel)]="userMail" required>
                            <div class="form-group" style="text-align: center">
                                <button type="button" (click)="sendToken(userMail)" class="btn btn-success mt-4 justify-content-center col-sm-10 col-xs-11 col-md-6">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>