<div class="container-fluid" id="dashboard-wrapper">
    <div class="row justify-content-center mb-3">
        <div class="col-xs-11 col-sm-11 col-md-6 col-lg-4 col-xl-4 m-xl-auto mt-3 pl-4 pr-0 pt-4 pb-4 mr-1 ml-1"
            id="container-stepper">
            <svg id="svg">
                <g>
                    <line x1="3%" y1="50%" x2="20%" y2="50%" class="line" id="step-1-2-line" />
                    <line x1="20%" y1="50%" x2="37%" y2="50%" class="line" id="step-2-3-line" />
                    <line x1="37%" y1="50%" x2="54%" y2="50%" class="line" id="step-3-4-line" />
                    <line x1="54%" y1="50%" x2="71%" y2="50%" class="line" id="step-4-5-line" />
                    <line x1="71%" y1="50%" x2="88%" y2="50%" class="line" id="step-5-6-line" />

                    <circle class="step-circle" id="step-1-circle" r="16px" cy="19px" cx="5%">
                    </circle>

                    <text class="step-text" text-anchor="middle" x="5%">1</text>


                    <circle class="step-circle inactiv" id="step-1-circle" r="16px" cy="19px" cx="20%">
                    </circle>

                    <text class="step-text inactiv" text-anchor="middle" x="20%">2</text>

                    <circle class="step-circle inactiv" id="step-2-circle" r="16px" cy="19px" cx="37%"></circle>

                    <text class="step-text inactiv" text-anchor="middle" x="37%">3</text>

                    <circle class="step-circle inactiv" id="step-3-circle" r="16px" cy="19px" cx="54%"></circle>

                    <text class="step-text inactiv" text-anchor="middle" x="54%">4</text>

                    <circle class="step-circle inactiv" id="step-4-circle" r="16px" cy="19px" cx="71%"></circle>

                    <text class="step-text inactiv" text-anchor="middle" x="71%">5</text>

                    <circle class="step-circle inactiv" id="step-4-circle" r="16px" cy="19px" cx="88%"></circle>

                    <text class="step-text inactiv" text-anchor="middle" x="88%">6</text>
                </g>
            </svg>
        </div>
        <div class="d-md-block col-12">
        </div>
        <div class="col-xs-11 col-sm-11 col-md-6 col-lg-4 col-xl-4 m-xl-auto pl-4 pr-0 pt-4 pb-4 mr-1 ml-1 "
            id="container-consigne">
            <h4>1. Nom et Date d'expiration</h4>
            <p>Definissez ici le <strong>nom</strong> et la <strong>date d'expiration</strong> de votre
                <strong>circuit</strong>.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id="map-wrapper"
            class=" pt-3 pb-1 pb-3 mb-3 mt-3 mr-1 ml-1 col-xs-11 col-sm-11 col-md-6 col-lg-4 col-xl-4 m-xl-auto">
            <form autocomplete="off">
                <div class="form-group">
                    <!-- TITLE PREPA MODE (CHANGEING ACCEPTED) -->
                    <div class="mb-3 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div *ngIf="creationPrepaMode.value || editionPrepaMode.value">
                            <label>Nom du Rally connecté</label>
                            <input type="email" class="form-control" name="rallyName" id="rally-name" required
                                minlength="4" [(ngModel)]="rally.name" (keyup)="verifyCharsOnPressName()"
                                (keyup)="verifyRallyName()" (keyup)="unlocker()" (change)="unlocker()"
                                aria-describedby="rally-name" placeholder="Entrez un nom" #name="ngModel" required>
                            <div class="col-12">
                                <p *ngIf="this.rally.name.length > 0 && rallyDisponibilty.value">Rally disponnible
                                    &#9989;</p>
                                <p *ngIf="this.rally.name.length > 0 && rallyDisponibilty.value === false">Rally
                                    indisponnible &#9940;</p>
                                <p [ngClass]="{
                                'text-error':SpeCharErrorName.value === false || keyPressCharErrorName.value === false ,
                                'text-ok':SpeCharErrorName.value === true || keyPressCharErrorName.value === true,
                                'text-udf':SpeCharErrorName.value === undefined || keyPressCharErrorName.value === undefined
                                }">
                                    Le nom de l'équipe ne peut contenir de caractères spéciaux tel que '_/@?-^'
                                </p>
                                <p [ngClass]="{
                                'text-error':nameError.value === false,
                                'text-ok':nameError.value === true, 
                                'text-udf':nameError.value === undefined || keyPressCharErrorName.value === undefined
                                }">
                                    Le nom de l'équipe doit contenir entre 4 et 60 caractères.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- DATE PICKER PREPA MODE (CHANGEING ACCEPTED)-->
                    <div class="input-group mb-3 col-sm-10 col-md-6 col-lg-10 col-xl-10">
                        <div *ngIf="creationPrepaMode.value || editionPrepaMode.value">
                            <label>Date d'expiration du Rally connecté</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="jj/mm/yyyy" name="dp"
                                    [startDate]="getTodayDate()" [minDate]="getTodayDate()"
                                    [(ngModel)]="rally.expiration" (keyup)="verifyCharsOnPressDate()"
                                    (keyup)="verifyDate()" (keyup)="unlocker()" (dateSelect)="verifyDate()"
                                    (dateSelect)="unlocker()" required minlength="10" maxlength="10" ngbDatepicker
                                    #date="ngModel" #d="ngbDatepicker" value="test" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="col-12">
                                <p [ngClass]="{
                                'text-error': SpeCharErrorDate.value === false || keyPressCharErrorDate.value === false,
                                'text-ok': SpeCharErrorDate.value === true || keyPressCharErrorDate.value === (true || undefined),
                                'text-udf': SpeCharErrorDate.value === undefined && keyPressCharErrorDate.value === undefined
                                }">
                                    La date de l'équipe ne peut contenir de caractères spéciaux tel que '_/@?-^'
                                </p>
                                <p [ngClass]="{
                                'text-error': dateError.value === false,
                                'text-ok': dateError.value === true,
                                'text-udf': dateError.value === undefined
                                }">
                                    Le date de l'équipe doit etre au format : jj/mm/yyyy'
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- TITLE UPDATE PLAYBLE MODE (CANNOT RENAME) -->
                    <div class="mb-3 col-sm-10 col-md-10 col-lg-10 col-xl-4">
                        <div *ngIf="editionPlayableMode.value">
                            <input type="email" class="form-control" name="rallyName" id="rally-name" required
                                minlength="4" [ngModel]="rally.name" aria-describedby="rally-name"
                                placeholder="Entrez un nom" #name="ngModel" disabled>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            </div>
                        </div>
                    </div>

                    <!-- DATE PICKER UPDATE PALYABLE MODE (CANNOT CHANGE DATE AND TITLE)-->
                    <div class="input-group mb-3 col-sm-10 col-md-6 col-lg-10 col-xl-10">
                        <div *ngIf="editionPlayableMode.value" class="input-group">
                            <input class="form-control" placeholder="jj/mm/yyyy" name="dp" [ngModel]="rally.expiration"
                                required minlength="11" ngbDatepicker #date="ngModel" #d="ngbDatepicker" value="test"
                                disabled>
                            <div class="input-group-append" disabled>
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"
                                    disabled><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btn-primary btn-sm mr-1">Annuler</button>
                    <button *ngIf="guardError.value === false" type="submit" class="btn btn-secondary btn-sm"
                        disabled>Suivant</button>
                    <button *ngIf="guardError.value === true" type="submit" routerLink="../2"
                        class="btn btn-primary btn-sm">Suivant</button>
                </div>
            </form>

        </div>
    </div>
</div>