//Stepper styles
$step-circle-radius: 16px;
$step-circle-stroke-width: 3px;
$step-text-y: 24px;
$svg-top: 45vh;
$step-card-width: 300px;
$color-primary: #8360c3;

#container-stepper, #container-consigne {

    border: 1px solid #e6e2e2;
    //border-bottom: none;

    #svg {
        display: block;
        top: $svg-top;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        height: $step-circle-radius * 2 + (2 * $step-circle-stroke-width);
      }
      
      .step-circle {
        //r: 16px;
        //cy: 19px;
        stroke: #34bc9b;
        stroke-width: 2px;
        fill: #ffffff;
      }
      
      .step-text {
        transform: translate(0, $step-text-y);
        fill: #34bc9b;
      }
      
      .line {
        stroke: #f1f1f1;
        stroke-width: 6px;
      }
      .inactiv {
        stroke:  #f1f1f1;
        //stroke:  #f1f1f1;
      }
      .activated {
        stroke: #34bc9b;
      }
}
#container-stepper {
    border-bottom: none;
}

/* You can add global styles to this file, and also import other style files */
#dashboard-wrapper {
    padding-bottom: 15px;
}
agm-marker {
    width: 70px; 
    height: 70px;
}
#main-content {
    height: 100vh;
    padding-bottom: 4px;
}
#dropdownBasic1 {
    color: white;
    background-color: #0067A6;
    border: none;
    &:focus {
        box-shadow: none;
    }
}
div {
    #consigne {
        border: 2px solid #f1f1f1;
    }
}
#previous {
    margin-right: 5px;
}

#map-wrapper, #register-wrapper, #login-wrapper, #container-rallys-messages , #reset-wrapper{
    box-shadow: 3px 3px 4px 3px rgba(0,0,0,.15);
}
#end-line {
    height: 1px;
    background: #969090;
}
.fa-warning {
    color: #ec921b;
}
agm-map {
    height: 380px;
}

.selected{
    background-color: #4397c39e;
}
.jumbotron {
    background: #fff;
}