$ready: #0E8C67;
$temine-color: #F25C05; 	// red
$prepa-color: #F38902; 	// yellow/orange
$blue-hm: #0067A6; 		// Blue Home Made
$home-yellow: #F3B603; 	// yellow
$white-hm: #ffffff; //white

#dashboard-wrapper {

    #message-home {
        height: 90px;
    }

    p{
        color: $blue-hm;
    }

    div {
        &#container-head-rallys {
            background-color: $blue-hm;
            text-align: center;
            border-top-left-radius: 3px; 
            border-top-right-radius: 3px;
            
            #mes-rallys{
                color: #ffffff; 
                //padding-top: 10px;
                font-size: 1.25rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem; 
                height: 45px;
            }
            #name-user {
                text-transform: capitalize;
            }
        }
    }

    table {
        margin-top: -16px;
        tbody {
            tr {
                td {
                    color: $blue-hm;
                }
            }
        }
    }

    button{

        &#new-rally {
            margin-top: 50px;
            background-color: $blue-hm;
            border-color: $blue-hm;
            color: $blue-hm;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
            background-color: #ffffff;
            &:hover {
                color: $blue-hm;
                transform: translateY(-7px);
              }
        }
        margin-top: 10px;
    }
}
