#dashboard-wrapper #message-home {
  height: 90px;
}
#dashboard-wrapper p {
  color: #0067A6;
}
#dashboard-wrapper div#container-head-rallys {
  background-color: #0067A6;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#dashboard-wrapper div#container-head-rallys #mes-rallys {
  color: #ffffff;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 45px;
}
#dashboard-wrapper div#container-head-rallys #name-user {
  text-transform: capitalize;
}
#dashboard-wrapper table {
  margin-top: -16px;
}
#dashboard-wrapper table tbody tr td {
  color: #0067A6;
}
#dashboard-wrapper button {
  margin-top: 10px;
}
#dashboard-wrapper button#new-rally {
  margin-top: 50px;
  background-color: #0067A6;
  border-color: #0067A6;
  color: #0067A6;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.2);
  background-color: #ffffff;
}
#dashboard-wrapper button#new-rally:hover {
  color: #0067A6;
  transform: translateY(-7px);
}

/* General styles for all menus */
nav {
  background-color: red;
}

.cbp-spmenu {
  background: #F3B603;
  border-right: 1px solid #0d77b6;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #0067A6;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  color: #F25C05;
}

/*.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}*/
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

@media screen and (max-width: 55.1875em) {
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
.cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}

/*# sourceMappingURL=home.component.css.map */
