<div class="container-fluid" id="dashboard-wrapper">
  <div class="row justify-content-center">
      <div id="container-rallys-messages" class="m-2 col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xl-8 pl-lg-0 m-xl-auto">
      <div id="message-home" class="col-12 pt-2 mb-2" >
          <p class="blue-home-made">Bonjour <span id="name-user">{{ name | titlecase}}</span>!</p>
          <p>Bienvenue sur votre dashboard</p>
      </div>
      <div id="container-head-rallys" *ngIf="rallys && rallys['rallys'] && rallys.rallys.length > 0"  ><p id="mes-rallys" class="head-rally">Mes Rallys</p></div>
        <table *ngIf="rallys !== undefined" id="table-rallys" class="table table-striped table-responsive-sm">
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let rallyDb of rallys.rallys">
              <td>{{ rallyDb.name }}</td>
              <td *ngIf="rallyDb.prepa !== null && rallyDb.playable === null" style="color: #ffc107"><span class="prepa">En prépa</span></td>
              <td *ngIf="rallyDb.playable !== null && rallyDb.playable !== null" style="color: #28a745"><span class="ready">Prêt à Jouer</span></td>
              <td>{{ rallyDb.createdAt | date }}</td>
              <td style="text-align: right;"><a routerLink="details/{{ rallyDb.hashLink }}"><svg-icon src="assets/icones/loupe.svg" [svgStyle]="{ 'width.px':30, 'height.px':30}"></svg-icon></a></td>
              <!--<td *ngIf="rallyDb.playable === null"><a routerLink="/creation-step/1">Reprendre la création</a></td>-->
            </tr>
          </tbody>
        </table>

        <div id="container-nouveau-help" class="row justify-content-md-center justify-content-lg-center justify-content-xl-centerv">
          <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
            <button type="button" routerLink="/creation-step/1" id="new-rally" class="btn btn-primary btn-lg btn-block">Nouveau Rally</button>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-link">Besoin d'aide?</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

      