<div  *ngIf="viewDetails" class="container-fluid" id="dashboard-wrapper">
    <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
        <div id="map-wrapper" class="class pt-3 pb-1 pb-3 mb-3 mt-3 col-sm-12 col-md-12 col-lg-10 col-xl-10 m-xl-auto">

<div  *ngIf="fullInfos && fullInfos.playable === null" id="rallyInfos">
    <h3 class="mb-1">Prépa</h3>
    <p class="mb-1 mt-2"><strong>Nom du rally: </strong>{{ rally.name }}</p>
    <p class="mb-2">{{ allGpsPoints.length }} Points GPS déjà créé.</p>
    <button type="button" routerLink="/creation-step/1" class="btn btn-success mr-2 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-md-0 mb-lg-0">Reprendre la création</button>
    <button type="button"  (click)="clickDelete()" class="btn btn-danger col-sm-12 col-md-3 col-lg-3">Supprimer</button>
</div>

<div id="wptsInfos" *ngIf="viewDetails && fullInfos && fullInfos.playable !== null">
    <p><strong>Positions GPS:</strong></p>
    <table class="table table-striped table-responsive-sm mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Waypoint of allGpsPoints">
                <td>WayPoint {{ allGpsPoints.indexOf(Waypoint) }}</td>
                <td>{{ Waypoint.coords.lat }}</td>
                <td>{{ Waypoint.coords.lng }}</td>
            </tr>
        </tbody>
    </table>
    <p><strong>Questions / Réponses des positions GPS: </strong></p>
    <table class="table table-striped table-responsive-sm mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question:</th>
                <th scope="col">Bonne réponse:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Waypoint of allGpsPoints">
                <td>WayPoint {{ allGpsPoints.indexOf(Waypoint) }}</td>
                <td scope="col">{{ Waypoint.quizz.ask }}</td>
                <td scope="col">{{ getRightAnswer(Waypoint) }}</td>
            </tr>
        </tbody>
    </table>
    <p><strong>Chefs et invitations: </strong></p>
    <table class="table table-striped table-responsive-sm mt-2">
        <thead>
            <tr>
                <th scope="col">Nom de l'équipe</th>
                <th scope="col">Mail du chef</th>
                <th scope="col">Couleur/Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Team of rally.teams">
                <td *ngIf="Team.name">{{ Team.name }}</td>
                <td *ngIf="Team.mail">{{ Team.mail }}</td>
                <td *ngIf="Team.color"><div [style.backgroundColor]="Team.color" style="border-radius: 100%; width: 40px; height: 40px;"></div></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-2">
        <button type="button"  routerLink="edit-step/1" class="btn btn-warning mr-2 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-md-0 mb-lg-0">Modifier</button>
        <button type="button"  (click)="clickDelete()" class="btn btn-danger col-sm-12 col-md-3 col-lg-3">Supprimer</button>
    </div>
</div>
        </div>
    </div>
</div>
<router-outlet
(activate)='onActivate($event)'
(deactivate)='onDesactivate($event)'></router-outlet>
