.jumbotron {
  background: #fff;
}

.text-error {
  color: #e74c3c;
  font-size: 12px;
  font-weight: 700;
}

.text-ok {
  color: #28a745;
  font-size: 12px;
  font-weight: 700;
}

.text-udf {
  color: #666;
  font-size: 12px;
  font-weight: 700;
}

h3 {
  border-bottom: 1px solid #b9aeae;
}

#register-wrapper {
  background: #fff;
}

.live-check-form {
  width: 100%;
}

/*# sourceMappingURL=register.component.css.map */
