<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="pt-4 col-sm-12 m-xl-auto d-flex justify-content-center">
                <h2 class="d-inline">Bienvenue sur Rally-connecté !</h2>
            </div>
            <div class="mt-3 col-sm-12 m-xl-auto d-flex justify-content-center">
                <img class="d-inline" width="125" height="125" src="assets/icones/compass.png"/>
            </div>
        </div>
    </div>
<div class="jumbotron">
    <div class="container-fluid" id="dashboard-wrapper">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center pt-4">
            <div id="register-wrapper"
                class="pt-3 pb-1 pb-3 mb-3 mt-3 col-sm-12 col-md-8 col-lg-6 col-xl-4 m-xl-auto">
                <h2 class="pb-3">Inscription</h2>
                <form [formGroup]="registerFrom" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <label for="name">Prénom:</label>
                        <input type="text" formControlName="name" class="form-control" (keyup)="verifyName()"
                            (change)="verifyName()" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div class="live-check-form">
                            <p [ngClass]="{
                'text-error':this.nameErrorChar.value === false,
                'text-ok':this.nameErrorChar.value === true,
                'text-udf':this.nameErrorChar.value === undefined
              }">
                                Le nom ne peut contenir de caractères spéciaux tel que '_/@?-^'
                            </p>
                            <p [ngClass]="{
                'text-error':nameErrorLength.value === false,
                'text-ok':nameErrorLength.value === true, 
                'text-udf':nameErrorLength.value === undefined
              }">
                                Le nom de doit contenir entre 4 et 60 charactères.
                            </p>
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <label for="mail">Adresse e-mail:</label>
                        <input type="text" formControlName="mail" class="form-control" (keyup)="verifyMail()"
                            (change)="verifyMail()" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                        <div class="live-check-form">
                            <p [ngClass]="{
                'text-error':mailError.value === false,
                'text-ok':mailError.value === true,
                'text-udf':mailError.value === undefined
                }">Carctéristiques complètes adresse e-mail.</p>
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <label for="tel">Tél:</label>
                        <input type="text" formControlName="tel" class="form-control" (keyup)="verifyTel()"
                            (change)="verifyTel()" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                        <div class="live-check-form">
                            <p [ngClass]="{
                'text-error':numberTelErr.value === false,
                'text-ok':numberTelErr.value === true,
                'text-udf':numberTelErr.value === undefined
                }">Chiffres entiers uniquement</p>
                            <p [ngClass]="{
                'text-error':lengthTelErr.value === false,
                'text-ok':lengthTelErr.value === true,
                'text-udf':lengthTelErr.value === undefined
                }"> Obligatoirement 10 chiffres</p>
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <label for="password">Mot de passe:</label>
                        <input type="password" formControlName="password" class="form-control" (keyup)="verifyPass()"
                            (change)="verifyPass()" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div class="live-check-form">
                            <p [ngClass]="{
                'text-error':passwordLength.value === false,
                'text-ok':passwordLength.value === true,
                'text-udf':passwordLength.value === undefined
                }">8 charactères minmum</p>
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <label for="repassword">Confirmez votre mot de passe:</label>
                        <input type="password" formControlName="repassword" class="form-control"
                            (keyup)="verifyRepass()" (change)="verifyRepass()"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div class="live-check-form">
                            <p [ngClass]="{
                'text-error':repassword.value === false,
                'text-ok':repassword.value === true,
                'text-udf':repassword.value === undefined
                }">les mots de passes doivent etre identique</p>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button *ngIf="guardError.value === false" class="btn btn-primary mr-2 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-md-0 mb-lg-0" style="width: 100%;" disabled>
                            S'inscrire
                        </button>
                        <button *ngIf="guardError.value === true" [disabled]="loading" class="btn btn-primary mr-2 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-md-0 mb-lg-0"
                            style="width: 100%;">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            S'inscrire
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>